.navbar {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2rem 4rem;
    font-size: 20px;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
    gap: 2rem;
}

.navbar a {
    position: relative;
    display: inline-block;
    padding: 0 1rem;
    color: white;
    text-decoration: none;
    background: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: white; 
    transition: all 0.5s ease;
}

.navbar a:hover {
    font-size: 25px;
    background-image: linear-gradient(to right,
            #7cffed,
            #e089ff,
            #cd5ae2);
    -webkit-text-fill-color: transparent;
}

.navbar img{
    width: 25px;
    height: 25px;
    border-radius: 20%;
    transition: all 0.5s ease;
}

.navbar img:hover {
    width: 32px;
    height: 32px;
    background-image: linear-gradient(to right,
            #7cffee90,
            #e089ff9c,
            #ce5ae2a1);
}