.media {
  height: auto;
  width: 100%;
  padding: 0;
}

.detailsContainer{
    margin: 10%;
    text-align: center;
}

.textContainer{
    margin: 10;
}

.mediaContainer{
    margin-top: 9%;
}

.title{
    font-size: 100px;
}

.description{
    font-size: 30px;
}