.media {
  height: auto;
  width: 100%;
  padding: 0;
}

.detailsContainer{
    margin: 10%;
    text-align: center;
}

.descriptionDetails{
    font-family: Larken-Extra-Bold;
}

.textContainer{
    margin: 10;
}

.mediaContainer{
    margin-top: 9%;
}

.title{
    font-size: 100px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

li {
    margin: 0.5rem;
}

.description{
    font-size: 30px;
}