.media {
    height: auto;
    width: 100%;
}

.detailsContainer {
    margin: 10%;
    text-align: center;
}

.descriptionDetails {
    font-family: Larken-Extra-Bold;
}

.textContainer {
    margin: 10;
    align-items: center;
}

.mediaContainer {
    margin-top: 9%;
}

.title {
    font-size: 100px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

#descriptionClient {
    font-family: Larken-Medium;
    background-color: white;
    color: black;
}

#descriptionYear {
    font-family: Larken-Medium;
    background-color: white;
    color: black;
}

.description {
    font-size: 30px;
}

.wistiaBox {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.wistiaBox iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: none;
}