.media {
    height: auto;
    width: 100%;
}

.detailsContainer {
    margin: 10%;
    margin-bottom: 0;
    text-align: center;
}

.descriptionDetails {
    font-family: Larken-Extra-Bold;
}

.textContainer {
    margin: 10;
    align-items: center;
}

.mediaContainer {
    margin-top: 9%;
}

.title {
    font-size: 100px;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

#descriptionClient {
    font-family: Larken-Medium;
    background-color: white;
    color: black;
}

#descriptionYear {
    font-family: Larken-Medium;
    background-color: white;
    color: black;
}

.description {
    font-size: 30px;
}

.wistiaBox {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

#logo {
    margin-left: 4%;
    height: 2.5rem;
    transition: all 0.5s ease;
}

footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 50px;
    color: white;
}

footer a{
    transition: transform 0.5s ease;
}

footer a:hover {
    transform: scale(1.2);
}

.wistiaBox iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: none;
}