.aboutPageDrawing {
  height: auto;
  width: 50%;
}

.title{
    text-align: center;
    font-size: 100px;
    margin: 0;
}

.textContainer{
    text-align: center;
    margin-top: 4rem;
    padding: 0;
}

.pageContainer{
    text-align: center;
    margin: 0 15rem;
    font-size: 20px;
    font-family: Larken-Thin, sans-serif;
    margin-bottom: 5rem;
    text-align: center;
}

.twoColumnLayout{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 5rem;
  padding: 0;
}

.leftColumn{
    text-align: left;
    flex: 1.2;
}

.rightColumn{
  height: auto;
  flex: 0.8;
}

ul.contactIcons {
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin-top: 3rem;
}

#name{
    font-family: Larken-Medium, sans-serif;
}

#she{
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

.icon {
    height: 35px;
    object-fit: contain;
}
