.aboutPageDrawing {
  height: auto;
  width: 50%;
}

.title{
    font-size: 100px;
    margin-bottom: 0;
}

.textContainer{
    font-size: 30px;
    padding: 2rem;
}

.aboutContainer{
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: Larken-Thin, sans-serif;
}