.aboutPageDrawing {
  height: auto;
  width: 50%;
}

.title{
    text-align: center;
    font-size: 100px;
    margin: 0;
}

.textContainer{
    text-align: center;
    padding: 0;
}

.pageContainer{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
    font-family: Larken-Thin, sans-serif;
    margin-bottom: 5rem;
}

.twoColumnLayout{
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftColumn{
    text-align: left;
    flex: 1; 
    list-style: none;
    margin: 0;
    gap: 2rem;
}

#she{
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
}

.icon {
    height: 25px;
    object-fit: contain;
}
