@font-face {
    font-family: Larken-Bold;
    src: url("./fonts/Larken/LarkenDEMO-Bold.otf") format("truetype");
}

@font-face {
    font-family: Larken-Extra-Bold;
    src: url("./fonts/larken-extra-bold.otf") format("truetype");
}

.navbar {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-right: 4%;
    margin-left: 4%;
    padding: 1rem;
    font-size: 20px;
    color: white;

    position: relative;
}

.menuItems {
    display: flex;
    list-style: none;
    margin-left: auto;
    gap: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    background: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: white;
}

.navbar a:hover {
    transform: scale(1.2);
    font-family: Larken-Extra-Bold;
}

.navbar a {
    transition: all 0.5s ease;
}

.navbar #logo {
    margin-left: 4%;
    height: 2.5rem;
}

.navbar img {
    height: 25px;
    transition: all 0.5s ease;
}

.navbar img:hover {
    transform: scale(1.2);
}

.menuItemsOpen {
    display: none;
}

.menuItemsHidden {
    display: none;
}

.menuTrigger {
    display: none;
}

.burgerBar {
    display: block;
    width: 25px;
    height: 2px;
    background: white;
    margin: 5px 0;
}

.mobileMenuWrap {
    display: none;
}

@media (max-width: 800px) {
    .menuItems {
        display: none;
    }

    .menuItemsOpen {
        font-size: 18px;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        position: absolute;
        top: 70%;
        right: 0;

        padding: 1rem 1.25rem;
        text-align: right;

        background: rgba(0, 0, 0, 0.92);
        border-radius: 3px;
        min-width: 100px;
        z-index: 1000;
    }

    .mobileMenuWrap {
        display: block;
        margin-left: auto;
    }

    .menuItemsHidden {
        display: none;
    }

    .menuTrigger {
        display: block;
        margin-left: auto;
    }
}