@font-face {
    font-family: Larken-Bold;
    src: url("./fonts/Larken/LarkenDEMO-Bold.otf") format("truetype");
}

@font-face {
  font-family: Larken-Extra-Bold;
  src: url("./fonts/larken-extra-bold.otf") format("truetype");
}


.navbar {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 2rem 4rem;
    font-size: 20px;
    color: white;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
    gap: 2rem;
}

.navbar a {
    color: white;
    text-decoration: none;
    background: none;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: white;
}

.navbar a:hover {
    transform: scale(1.2);
    font-family: Larken-Extra-Bold;
}

.navbar a{
    transition: all 0.5s ease;
}

.navbar #logo {
    margin-left: 4%;
    height: 2.5rem;
}

.navbar img {
    height: 25px;
    transition: all 0.5s ease;
}

.navbar img:hover {
    transform: scale(1.2);
}