.card {
  padding: 0;
  width: inherit;
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
}

.media {
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  max-height: 60rem;
  border-radius: 24px;
  object-fit: cover;
}

.projectInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 24px;
  margin: 0;
}

.projectInfo p {
  padding: 0 10px;
  margin: 0;
}