.card {
  margin: 7%;
  text-align: left;
  width: inherit;
}

.media {
  margin-bottom: 1rem;
  height: auto;
  width: 100%;
}

.cardTitle {
  font-family: Larken-Thin, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.tagList {
  display: inline-flex;
  padding-left: 0;
  list-style: none;
  gap: 5px;
}

.tagList li {
  font-size-adjust: 0.7;
  font-family: Arial;
  font-size: 0.6rem;
  padding: 0.1rem 0.6rem;
  color: black;
}

.tagAnimation {
  background-color: #bf2b5d;
}

.tagArt {
  background-color: #42aa9c;
}

.tagIdentity {
  background-color: #bf9b74;
}

.tagInfographic {
  background-color: #7488bf;
}

.tagLogo {
  background-color: #7da354;
}

.tagPackaging {
  background-color: #ae79b2;
}

.tagExposition{
  background-color: #aaaaaa;
}

.tagPrint {
  background-color: #ad9b4e;
}

.tagTypography {
  background-color: #dbc015;
}

.tagUIUX {
  background-color: #0044d8;
}

.card:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
}