.card {
  margin: 0;
  text-align: left;
  width: inherit;
}

.media {
  height: auto;
  width: 100%;
}

.cardTitle {
  font-family: Larken-Thin, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.tagList {
  display: inline-flex;
  padding-left: 0;
  list-style: none;
  gap: 5px;
}

.tagList li {
  font-size-adjust: 0.7;
  font-family: Arial;
  font-size: 0.6rem;
  padding: 0.1rem 0.6rem;
  color: black;
}

.tagAnimation {
  background-color: #db15ce;
}

.tagArt {
  background-color: #1fdb15;
}

.tagBranding {
  background-color: #db6815;
}

.tagInfographic {
  background-color: #158cdb;
}

.tagLogotype {
  background-color: #15db7f;
}

.tagPackaging {
  background-color: #db1515;
}

.tagPhotography {
  background-color: #dbd815;
}

.tagPrint {
  background-color: #a0db15;
}

.tagTypography {
  background-color: #15dbc4;
}

.tagUIUX {
  background-color: #5e15db;
}

.tagInfographic{
  background-color: #158cdb;
}

.card:hover {
  transform: scale(1.02);
  transition: all 0.8s ease-in-out;
}