.card {
  padding: 20px;
  margin: 0;
  text-align: left;
  max-width: 250px;
}

.card .card-image {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

.card .card-title {
  font-family: Larken-Thin, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.tag-list {
  display: inline-flex;
  padding-left: 0;
  list-style: none;
  gap: 5px;
}

.tag-list li {
  font-size: 0.7rem;
  background-color: rgb(111 255 0);
  color: black;
}
