@font-face {
  font-family: Larken-Thin;
  src: url("./fonts/fonnts.com-Larken_Thin.otf") format("truetype");
}

@font-face {
  font-family: Larken-Extra-Bold;
  src: url("./fonts/fonnts.com-Larken_ExtraBold.otf") format("truetype");
}

@font-face {
  font-family: Larken-Medium;
  src: url("./fonts/fonnts.com-Larken_Medium.otf") format("truetype");
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: Larken-Thin, sans-serif;
  cursor: url('/cursor.png') 12 12, auto;
}

a, .clickable {
  cursor: url('/cursorHover.png') 13 13, pointer;
}