@font-face {
  font-family: Onest-Black;
  src: url("./fonts/Onest-Black.ttf");
}

@font-face {
  font-family: Onest-ExtraBold;
  src: url("./fonts/Onest-ExtraBold.ttf");
}

@font-face {
  font-family: Onest-Bold;
  src: url("./fonts/Onest-Bold.ttf");
}

@font-face {
  font-family: Onest-SemiBold;
  src: url("./fonts/Onest-SemiBold.ttf");
}

@font-face {
  font-family: Onest-Medium;
  src: url("./fonts/Onest-Medium.ttf");
}

@font-face {
  font-family: Onest-Regular;
  src: url("./fonts/Onest-Regular.ttf");
}

@font-face {
  font-family: Onest-Light;
  src: url("./fonts/Onest-Light.ttf");
}

@font-face {
  font-family: Onest-Thin;
  src: url("./fonts/Onest-Thin.ttf");
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 0;
  margin: 0;
  font-family: Onest-Medium, sans-serif;
  cursor: url('/cursor.png') 12 12, auto;
}

a, .clickable {
  cursor: url('/cursor.png') 13 13, pointer;
}