.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 1%;
  height: 100vh;
  overflow: hidden;
}

.footerGallery {
  margin: 0;
  font-size: 14px;
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.gridColumn {
  margin: 0;
  height: 100%;
  scrollbar-width: none;
  overflow-y: hidden;
}

#col0 {
  width: 33%;
}

#col1 {
  width: 27%;
}

#col2 {
  width: 20%;
}

#col3 {
  width: 20%;
}


@media (max-width: 800px) {
  .gallery {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }

  .gridColumn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }

  #col0,
  #col1,
  #col2,
  #col3 {
    width: 70% !important;
  }
}